# Python
__pycache__/
*.py[cod]
*$py.class
.env1/
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints
notebooks/results/
notebooks/*.ipynb_checkpoints/

# VS Code
.vscode/

# Models and Data - Ignore entire directories
models/
data/
notebooks/results/

# Logs
logs/
*.log

# Environment
.env
.venv

# IDE specific files
.idea/
*.swp
*.swo
.DS_Store

# Temporary files
*.tmp
*.bak
*.swp
*~

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Local development settings
local_settings.py
db.sqlite3
db.sqlite3-journal
